{% extends 'backendBaseLayout.html.twig' %}

{% block main %}
      <table>
        <tr>
            <th>Aktiv</th>
            <th{% if pagination.isSorted('image.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'image.title') }}</th>
            <th{% if pagination.isSorted('image.created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Erstellt am', 'image.created') }}</th>
            <th>Edit</th>
        </tr>

        {% for image in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{% if image.activeFrom %}ab {{ image.activeFrom|date('d.m.Y H:i') }} Uhr{% else %}{% if image.active %}Ja{% else %}Nein{% endif %}{% endif %}</td>
                <td>{{ image.title }}</td>
                <td>{{ image.created|date('d.m.Y') }}</td>
                <td>
                    <a href="{{ path('image_edit', {'id': image.id}) }}" >
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <br>
    <a href="{{ path('image_new') }}"><i class="fa fa-plus"></i> Neues Bild erstellen</a> <br>
{% endblock %}