{% extends 'backendBaseLayout.html.twig' %}

{% block main %}
    <h1>Neues Bild erstellen</h1>

    {% for error in app.flashes('error') %}
        <span style="color:red">{{ error|trans }}</span>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Erstellen" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Zurück zur übersicht</a>
        </li>
    </ul>
{% endblock %}
