{% extends 'baseLayout.html.twig' %}

{% block main %}
    {% if image %}
        <div id="picture-{{ image.id }}">
            <h1>{{ image.title }}</h1>
            <picture>
                <source srcset="{{ asset('uploads/images/' ~ image.image ) | imagine_filter('image_small_webp') }}" type="image/webp" media="(max-width: 600px)">
                <source srcset="{{ asset('uploads/images/' ~ image.image ) | imagine_filter('image_small_jpg') }}" type="image/jpeg" media="(max-width: 600px)">
                <source srcset="{{ asset('uploads/images/' ~ image.image ) | imagine_filter('image_webp') }}" type="image/webp">
                <source srcset="{{ asset('uploads/images/' ~ image.image ) | imagine_filter('image_jpg') }}" type="image/jpeg">
                <img src="{{ asset('uploads/images/' ~ image.image ) | imagine_filter('image_jpg') }}" width="900" height="600" alt="{{ image.title }}" title="{{ image.title }}">
            </picture>

            {% if image.description %}
                <p>{{ image.description }}</p>
            {% endif %}
        </div>

        <div class="control">
            {% if before %}
                <a href="{{ path('image_detail',  { 'id': before.id, 'slug': before.title|slug }) }}" class="btn btn-before">
                    {{ ux_icon('mingcute:left-fill', {width: 20}) }} Älterer Eintrag</a>
            {% endif %}
            <a href="{{ path('image_overview') }}" class="btn btn-overview">Overview</a>
        </div>
    {% else %}
        <p>Kein Bild vorhanden</p>
    {% endif %}
{% endblock %}