<?xml version="1.0" encoding="ISO-8859-1"?>

<rss version="2.0">
 <channel>
    <title>A daniel a day</title>
    <link>{{ url('index') }}</link>
    <description>Ein Daniel pro Tag</description>
    <language>de-de</language>


    {% for image in images %}
        <item>
              <title>{{ image.title }}</title>

            <description>
            {% if image.description %}
                    {{ image.description }}
            {% else %}
                {{ image.title }}
            {% endif %}
            </description>

              <link>{{ url('image_detail',  { 'id': image.id, 'slug': image.title|slug }) }}</link>
              <thumb>{{ absolute_url(asset('uploads/images/' ~ image.image )| imagine_filter('thumb')) }}</thumb>
              <image>{{ absolute_url(asset('uploads/images/' ~ image.image )| imagine_filter('image_jpg')) }}</image>

              <pubDate>{% if image.activeFrom %}{{ image.activeFrom|date('r e', 'GMT') }}{% else %}{{ image.created|date('r e', 'GMT') }}{% endif %}</pubDate>
            </item>

    {% endfor %}

 </channel>

</rss>
