{% extends 'baseLayout.html.twig' %}

{% block main %}
    <div id="picture-{{ image.id }}">
        <h1>{{ image.title }}</h1>
        <img src="{{ asset('uploads/images/' ~ image.image ) }}" width="900" height="600" alt="{{ image.title }}"/>

        {% if image.description %}
            <p>{{ image.description }}</p>
        {% endif %}
    </div>

    <div class="control">
        {% if before %}
            <a href="{{ path('image_detail',  { 'id': before.id, 'slug': before.title|slug }) }}" class="btn"><i class="fa fa-caret-left"></i> Älterer Eintrag</a>
        {% endif %}

        <a href="{{ path('image_overview') }}">Overview</a>
        {% if next %}
            <a href="{{ path('image_detail',  { 'id': next.id, 'slug': next.title|slug }) }}" class="btn">Nächster Eintrag <i class="fa fa-caret-right"></i></a>
        {% endif %}

    </div>
{% endblock %}

