<!DOCTYPE html>
<html lang="{{ app.request.locale}}">
    <head>
        <title>{{ 'daniel.title'|trans }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="alternate" type="application/rss+xml" title="Feed" href="{{ url('rss') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('frontend') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

     {% if is_granted('ROLE_ADMIN') %}
        <div class="header">
            <div class="grid">
                <div class="col-12">
                    {% block header %}
                        {{ include('inc/mainNavigation.html.twig') }}
                    {% endblock %}
                </div>
            </div>
        </div>
     {% endif %}

        <div class="container">
            <div class="grid">
                <div class="col-12">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>