<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="{{ path('index') }}">{{ 'daniel.nav.homepage'|trans }}</a></li>
    <li><a href="{{ path('user_index') }}">{{ 'daniel.nav.user'|trans }}</a></li>
    <li class="last"><a href="{{ path('image_index') }}">{{ 'daniel.nav.image'|trans }}</a></li>
</ul>